#company-name{
	font-size:5vw;
}
@media(max-width:576px)
{#company-name{
	font-size:7vw;
}
}
#collapsibleNavbar{
	justify-content: flex-end;
}
.popup-item{
	color: white;
}

@media (min-width: 576px)
{
	 #collapsibleNavbar
		{
			display:none !important;
	}
}
#description{
	background-color: chocolate;
	padding: 20px;
	color: aliceblue;
	height: 1000px;
	margin-bottom: 20px;
}
#title{
	margin: 15px 0px;
	color: cornflowerblue;
}
.nav-item{
	background-color: crimson;
	border: 2px solid #F4EAEA;
	margin: 1px;
}
.nav-item:hover{
	background-color:firebrick;
}
#bttn {
	border: 2px solid white;
	
}
#bttn>span{
	color: white;
	
}
#ad{
	padding-left: 0px;
	padding-right: 0px;
}